dist/
.venv/
.private/
__pycache__/
*.pyc
*.pkl
*.DS_Store
*.png
src/occhio/trash_experiment/
phase_change.ipynb 
test.ipynb
.pytest_cache/
.vscode/
docs/_build
docs/_autosummary
.ipynb_checkpoints/
experiments/laws/law1/figures/
experiments/benchmark/sweep-analysis/data/

